click==7.1.2
Flask==1.1.2
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
Werkzeug==1.0.1
fpdf==1.7.2
fpdf2==2.7.4
numpy==1.23.5
opencv_python==4.7.0.72
Pillow==9.5.0
PyPDF2==3.0.1
